@page "/"
@namespace Ferreteria_FBF_App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ferreteria(FBF)App</title>
    <base href="~/" />
    <link href="Resources/FBFicon.png" rel="icon" />
    <link href="css/NavMenuCSS.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/Blazored.Modal/blazored-Modal.css" rel="stylesheet" /> @*Blazored modals*@
    <link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" /> @*Blazored toast*@
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> @*Referencia bs4*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"> @*Referencia iconos exclusivos*@
    <link href="~/css/FA2.css" rel="stylesheet" />
    <link href="~/css/FontAwesome.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> @*Fa fa icons 2*@

    </head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application
            may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    @*local*@
    <script src="~/scripts/Dependencias/bmin2.js"></script>
    <script src="~/scripts/Dependencias/Bootstrapjs.js"></script>
    <script src="~/scripts/Dependencias/JQueryMin.js"></script>
    <script src="~/scripts/Dependencias/SweetAlertsjs.js"></script>
    <script src="~/scripts/Dependencias/jquerty3.js"></script>
    <script src="~/scripts/Dependencias/Popper.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/scripts/JavaScript.js"></script>
    <script src="~/scripts/Confirmacion.js"></script>
    <script src="~/scripts/Notificaciones.js"></script>

    @*Web*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>
