@page "/"

@inject IJSRuntime js
<h1>Bienvenido</h1>

<SurveyPrompt Title="Ferreteria FBF" />

@code{        
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("Notificar","Bienvenido");
    }
}
