@page "/"

@inject IJSRuntime js

    <div class="container">

        <img class="img-rounded index-img" src="Resources/Logo.PNG"
             height="100">

        <br>

        <h1 class="text-lg-center">Ferreteria FBF</h1>

        @*<p>Esta es una empresa dedicada a la venta de productos para la contruccion.</p>*@

    </div>


@code{        
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("Notificar","Bienvenido");
    }
}
