@page "/consultacobros"

<div class="card rounded" style="border-color:#dc3545">
    <div class="card-header text-lg-center" style="background-color: #dc3545">
        <h3><strong>Consulta de cobros</strong></h3>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header" style="background-color:#CDCBCB">
                <div class="row">
                    <div class="input-group col-12">
                        <div class="form-group col-3">
                            <label><strong>Filtro: </strong></label>
                            <select class="form-control">
                                <option value="0">Eliga un filtro</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label><strong>Criterio: </strong></label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Criterio" />
                                <button type="button" class="btn btn-danger input-group-append">Consultar</button>
                            </div>
                        </div>
                        <div class="form-group col-2 col-md-4 ml-auto">
                            <label><strong>Ordenar por: </strong></label>
                            <select class="form-control">
                                <option value="value">Eliga una opcion</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Almacen</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Importe</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Martillo</td>
                            <td>4</td>
                            <td>25</td>
                            <td>100</td>
                            <td><a href="#" class="btn btn-dark "><strong>Editar</strong></a></td>
                        </tr>
                        <tr>
                            <td>Cemento</td>
                            <td>20</td>
                            <td>20</td>
                            <td>400</td>
                            <td><a href="#" class="btn btn-dark "><strong>Editar</strong></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer" style="background-color:#CDCBCB">
                <div class="row">
                    <div class="form-group col-2 col-md-2 ml-auto">
                        <label><strong>Imprimir </strong></label>
                        <button type="button" class="btn btn-danger form-control"><span class="oi oi-print"></span> Consulta</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer" style="background-color: #dc3545">
        <div class="form-group text-center" display: inline-block>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@code {

}
