@inherits LayoutComponentBase

@using BLL 
<AuthorizeView>
    <Authorized>

        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>

        <BlazoredModal HideCloseButton="false"
                       DisableBackgroundCancel=true
                       Class="modal-dialog-scrollable" />
        <BlazoredToasts />
    </Authorized>
    <NotAuthorized>
                <LoginControl/>
    </NotAuthorized>
</AuthorizeView>
