@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

@using BLL

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<BlazoredModal DisableBackgroundCancel="true"></BlazoredModal>
<BlazoredToasts />

