@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime js


@using Models
@using BLL
@using Pages.Herramientas
@using Pages
@inject IModalService Modal
@inject IToastService toast

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{ 
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#"><h4 style="color:#dc3545">Ferreteria FBF</h4></a>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded login-img" src="Resources/Logo.PNG" height="100"
                             alt="User picture">
                    </div>

                    <div class="user-info">
                        <span class="user-name">@(ObtenerNombreUsuarioLogeado()) <strong> @(ObtenerApellidoUsuarioLogeado()) </strong> </span>
                        <span class="user-role">@(ObtenerNivelAccesoUsuarioLogeado())</span>
                        @if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
                        {
                            <span class="user-status">
                                <i class="fa fa-circle"></i>
                                <span>Online</span>
                            </span>
                        }
                        else
                        {
                            <span class="user-status">
                                <i class="fa fa-circle"></i>
                                <span>Offline</span>
                            </span>
                        }

                    </div>
                </div>
                <!-- sidebar-header  -->
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Menu</span>
                        </li>
                        <li class="sidebar-content">
                            <a href="#">
                                <i class="fa fa-tachometer"></i>
                                <span>Inicio</span>
                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a>
                                <i class="fa fa-folder"></i>
                                <span>Registros</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="Ventas"><span class="oi oi-cart"></span>Ventas</a>
                                    </li>
                                    <li>
                                        <a href="Productos"><span class="oi oi-wrench"></span>Productos</a>
                                    </li>
                                    <li>
                                        <a href="Clientes"><span class="oi oi-credit-card"></span>Clientes</a>
                                    </li>
                                    <li>
                                        <a href="Cobros"><span class="oi oi-dollar"></span>Cobros</a>
                                    </li>
                                    <li>
                                        <a href="Usuarios"><span class="oi oi-people"></span>Usuarios</a>
                                    </li>
                                    <li>
                                        <a href="inventario"><span class="oi oi-aperture"></span>Inventario</a>
                                    </li>
                                    <li>
                                        <a href="Marcas"><span class="oi oi-tags"></span>Marcas</a>
                                    </li>
                                    <li>
                                        <a href="categorias"><span class="oi oi-list"></span>Categorias</a>
                                    </li>
                                    <li>
                                        <a href="suplidores"><span class="oi oi-flash"></span>Suplidores</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a>
                                <i class="fa fa-database"></i>
                                <span>Consultas</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="consultaventas"><span class="oi oi-cart"></span>Ventas</a>
                                    </li>
                                    <li>
                                        <a href="consultaproductos"><span class="oi oi-wrench"></span>Productos</a>
                                    </li>
                                    <li>
                                        <a href="consultaclientes"><span class="oi oi-credit-card"></span>Clientes</a>
                                    </li>
                                    <li>
                                        <a href="consultacobros"><span class="oi oi-dollar"></span>Cobros</a>
                                    </li>
                                    <li>
                                        <a href="consultausuarios"><span class="oi oi-people"></span>Usuarios</a>
                                    </li>
                                    <li>
                                        <a href="consultainventario"><span class="oi oi-aperture"></span>Inventarios</a>
                                    </li>
                                    <li>
                                    <a href="consultamarcas"><span class="oi oi-tags"></span>Marcas</a>
                                    </li>
                                    <li>
                                        <a href="consultacategorias"><span class="oi oi-list"></span>Categorias</a>
                                    </li>
                                    <li>
                                        <a href="consultasuplidores"><span class="oi oi-flash"></span>Suplidores</a>
                                    </li>
                    </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a>
                                <i class="fa fa-print"></i>
                                <span>Reportes</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a @onclick="VentasDelDia"><span class="oi oi-cart"></span>Ventas del dia</a>
                                    </li>
                                    <li>
                                        <a @onclick="ProductosEnReorden"><span class="oi oi-dollar"></span>Productos en reorden</a>
                                    </li>
                                    <li>
                                        <a @onclick="ClientesConDeuda"><span class="oi oi-credit-card"></span>Clientes con deuda</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="/logout?returnUrl=/">
                    Cerrar Seccion
                    <i class="fa fa-sign-out"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <!-- page-content" -->
    </div>
}
else
{
    <LoginControl/>
}


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public string NivelAcceso { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await MainMenu();
    }

    private async Task MainMenu()
    {
        await js.InvokeVoidAsync("menujquery");
    }

    public string ObtenerNombreUsuarioLogeado()
    {
        Usuarios usuario = UsuariosBLL.Buscar(AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.Name);

        if (usuario != null)
        {
            return usuario.Nombre;
        }

        return "Error...";
    }

    public string ObtenerApellidoUsuarioLogeado()
    {
        Usuarios usuario = UsuariosBLL.Buscar(AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.Name);

        if (usuario != null)
        {
            return usuario.Apellido;
        }

        return "Error...";
    }

    public string ObtenerNivelAccesoUsuarioLogeado()
    {
        Usuarios usuario = UsuariosBLL.Buscar(AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.Name);

        if (usuario != null)
        {
            return usuario.NivelAcceso;
        }

        return "Error...";
    }
    public void VentasDelDia()
    {
        VentasReport ventas = new VentasReport();

        List<Ventas> listaVentas = new List<Ventas>();

        if (VentasBLL.GetList(p => p.Fecha == DateTime.Today).Count != 0)
        {
            listaVentas = VentasBLL.GetList(p => p.Fecha == DateTime.Today);

            var parameters = new ModalParameters();
            parameters.Add("Items", listaVentas);

            Modal.Show<VentasViewer>("Reporte de ventas del dia", parameters);
        }
        else
        {
            toast.ShowWarning("No se ha realizado ninguna venta hoy");
        }

    }
    public void ProductosEnReorden()
    {
        ProductosReport rpt = new ProductosReport();

        List<Productos> listaReorden = new List<Productos>();

        if (ProductosBLL.GetList(p => p.Inventario < 4).Count != 0)
        {
            listaReorden = ProductosBLL.GetList(p => p.Inventario < 4);

            var parameters = new ModalParameters();
            parameters.Add("Items", listaReorden);

            Modal.Show<ProductosViewer>("Reporte de productos en reorden", parameters);
        }
        else
        {
            toast.ShowWarning("No hay productos en reorden");
        }
    }
    public void ClientesConDeuda()
    {
        CustomersReport rpt = new CustomersReport();

        List<Clientes> listaClientes = new List<Clientes>();

        if (ClientesBLL.GetList(p => p.Balance > 0).Count != 0)
        {
            listaClientes = ClientesBLL.GetList(p => p.Balance > 0);

            var parameters = new ModalParameters();
            parameters.Add("Items", listaClientes);

            Modal.Show<ClientesViewer>("Reporte de clientes con deuda", parameters);
        }
        else
        {
            toast.ShowWarning("No hay clientes con deuda");
        }
    }

}
