@page "/Ventas"

<div class="card border-danger">
    <div class="card-header bg-danger text-lg-center">
        <h2 style="font-family :'Segoe UI'">Registro de Ventas</h2>
    </div>

    <div class="card-body">
        <div class="form">

            <div class="form-group form-row">
                @*Venta Id*@
                <div class="col-md-4">
                    <label>Venta Id</label>
                    <div class="input-group">
                        <input type="number" class="form-control" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary input-group-text">
                                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>

                @*Tipo Factura*@
                <div class="col-md-2 offset-md-6">
                    <label>Tipo de factura</label>
                    <select class="form-control">
                        <option disabled="disabled" selected="selected">Elija una opción</option>
                        <option value="0">Credito</option>
                        <option value="1">Contado</option>
                    </select>
                </div>
            </div>

            @*Fecha*@
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" class="form-control" />
            </div>

            @*Cliente Id*@
            <div class="form-group">
                <label>Cliente Id</label>
                <select class="form-control">
                    <option disabled="disabled" selected="selected">Elija una opción</option>
                    <option value="0">Cliente 1</option>
                    <option value="1">Cliente 2</option>
                    <option value="2">Cliente 3</option>
                    <option value="3">Cliente 4</option>
                </select>
            </div>

            @*Detalle*@
            <div class="card border-dark">

                <div class="card-header-pills text-lg-center">
                    <h4 style="font-family:'Segoe UI'" class="col-form-label-lg">Articulos</h4>
                </div>

                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group col-3">
                            <label>Descripción</label>
                            <select class="form-control">
                                <option disabled="disabled" selected="selected">Elija una opción</option>
                                <option value="0">Producto 1</option>
                                <option value="1">Prodcuto 2</option>
                                <option value="2">Producto 3</option>
                                <option value="3">Producto 4</option>
                            </select>
                        </div>

                        <div class="form-group col-2">
                            <label>Cantidad</label>
                            <input type="number" class="form-control" />
                        </div>

                        <div class="form-group col-2">
                            <label>Unidad</label>
                            <input type="number" class="form-control" />
                        </div>

                        <div class="form-group col-2">
                            <label>Precio unitario</label>
                            <input type="number" class="form-control" />
                        </div>

                        <div class="form-group col-md-3">
                            <label>Importe</label>
                            <div class="input-group">
                                <input type="number" class="form-control" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary input-group-text">
                                        <i class="oi oi-plus" aria-hidden="true" />
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>


                    @*Tabla del detalle*@
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Descripción</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Unidad</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@DateTime.Now</td>
                                <td>50</td>
                                <td>Docenas</td>
                                <td>75000.00</td>
                                <td>3750000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <br />

            <div class="form-group form-row">
                @*Sub-Total*@
                <div class="col-md-4">
                    <label>Sub Total</label>
                    <input type="number" class="form-control" readonly />
                </div>

                @*Cantidad*@
                <div class="col-md-4 offset-md-4">
                    <label>Cantidad</label>
                    <input type="number" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group form-row">
                @*Descuentos*@
                <div class="col-md-4">
                    <label>Descuentos</label>
                    <input type="number" class="form-control" />
                </div>

                @*Comentarios*@
                <div class="col-md-4 offset-md-4">
                    <label>Comentarios</label>
                    <textarea class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group form-row">
                @*ITBIS*@
                <div class="col-md-4">
                    <label>ITBIS</label>
                    <input type="number" class="form-control" readonly />
                </div>

                @*Total General*@
                <div class="col-md-4 offset-md-4">
                    <label>Total General</label>
                    <input type="number" class="form-control" readonly />
                </div>
            </div>

        </div>
    </div>

    <div class="card-footer text-center" display: inline-block>
        <div class="form-group">

            <button type="button" class="btn btn-lg btn-secondary">
                <span class="oi oi-plus" aria-hidden="true"></span> Nuevo
            </button>

            <button type="button" class="btn btn-lg btn-info">
                <span class="oi oi-circle-check" aria-hidden="true"></span> Guardar
            </button>

            <button type="button" class="btn btn-lg btn-danger">
                <span class="oi oi-circle-x"></span> Eliminar
            </button>
        </div>
    </div>

</div>

@code {

}
